<footer>
    <p>
        <a href="https://open-meteo.com/">
            powered by
            <img src="images/cloudy.png" alt="Cloudy">
            Open-Meteo
        </a>
    </p>
</footer>
 <script src="js/function.js"></script>
 
</body>

</html>