<footer>
    <p>
        <a href="https://open-meteo.com/">
            powered by
            <img src="images/cloudy.png" alt="Cloudy">
            Open-Meteo
        </a>
    </p>
</footer>

</body>

</html>